{{ define "index" }} {{ template "header" .}}


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Plus Node Checker</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Welcome!</li>
            </ol>
            <div class="card mb-4">
                <div class="card-body">
                    Welcome to the Plus Node Checker, here you can monitor statuses of your runing Nodes!
                </div>
            </div>
        </div>
    </main>




    {{ template "footer" }} {{ end }}